{
	"fetch_snapshot": {
		"fetch_api": "http://api.cloudmobi.net:9991/dump?page_size=1000&page_num=",
		"direct_ip_api": ["http://10.21.13.27:9992/dump?page_size=1000&page_num=", "http://10.21.13.28:9992/dump?page_size=1000&page_num="],
		"fetch_frequency": 30,
		"log_path": "logs/fetch.log",
		"persistent_time": 7

	},
	"mysql_config": {
		"host": "127.0.0.1",
		"port": "3306",
		"username": "root",
		"password": "",
		"database": "persistent"
	},
    "orm_config": {
        "host": "127.0.0.1",
		"port": "3306",
		"username": "root",
		"password": "",
		"database": "persistent"
    },
	"search": {
		"search_path": "/persistent/search",
		"host": "127.0.0.1",
		"port": "10080",
		"log_path": "logs/search.log"
	}
}
